* {
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    /*height: 100vh;*/
    height: 100%;
    background-color: #999999;
}
#app{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page__title{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #f4f4f4;
}
button{
    padding: 5px;
    cursor: pointer;
    background-color: #333333;
    color: #f4f4f4;
    border: 1px solid #333333;
    border-radius:5px;
    text-wrap: nowrap;
}
button:disabled{
    opacity: 0.5;
}
